# App runtime
PHX_SERVER=true
PORT=4000
PHX_HOST=localhost
PHX_URL_SCHEME=http
PHX_URL_PORT=4000

# Secrets
SECRET_KEY_BASE=
TOKEN_SIGNING_SECRET=

# Database
POSTGRES_USER=goods
POSTGRES_PASSWORD=goods_password
POSTGRES_DB=goods_prod
POOL_SIZE=10
DATABASE_URL=ecto://goods:goods_password@localhost/goods_prod

# Africa's Talking SMS
AFRICASTALKING_USERNAME="sandbox"
AFRICASTALKING_API_KEY="atsk_7d5b8adb45e651f8a8ffce7d38eb6e99abcfb4befc3989ba4c2b82da90e9ce90da1348f6"
AFRICASTALKING_FROM=
AFRICASTALKING_BASE_URL="https://api.sandbox.africastalking.com/version1/messaging"
